main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}

h1, h2 {
    color: var(--title-color);
    font-size: 2.5rem;
}

p, span, a {
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.card {
    background: var(--card-gradient);
    height: 400px;
    width: 400px;
    border-radius: 30px;
}

#form {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
}

/* Rating State */

.card #rating-state {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--button-bg-color);
    padding: 10px;
}

.icon-star {
    width: 100%;
}

.button-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rating-number {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 0.3rem;
    left: -30px;
    top: -20px;
}

.rating-button {
    appearance: none;
    background-color: var(--button-bg-color);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding-top: 0.3rem ;
    cursor: pointer;
    transition: 0.2s;
}

.rating-button:hover {
    background-color: var(--secondary-color);
    color: var(--active-color);
}

.rating-button:checked {
    background-color: var(--primary-color);
}

.rating-button:checked + .rating-number {
    color: var(--active-text-color);
}

#rating-alert {
    text-align: center;
    color: var(--primary-color);
}

#submit-button {
    margin-top: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-radius: 50px;
    border: none;
    padding: 15px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--active-text-color);
    transition: 0.2s;
}

#submit-button:hover {
    background-color: var(--active-color);
    color: var(--primary-color);
}

/* Thank you State */

.card #thank-you-state {
    padding: 20px 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.thank-you-icon {
    width: 50%;
    align-self: center;
}

.selection-info {
    margin-bottom: 20px;
    padding: 5px 20px 2px;
    background: var(--button-bg-color);
    color: var(--primary-color);
    border-radius: 50px;
}

.selection-info .rating {
    color: var(--primary-color);
}

/* Attribution */

.attribution {
    align-self: flex-end;
    position: absolute;
}

.attribution a {
    color: var(--primary-color);
}